body{
    background-color: black;
}
.poster{
    margin-top: 70px;
    color:gold;
    font-family: "Ga Maamli", sans-serif;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    text-transform: uppercase;
    font-weight: bold;
}
#mamba{
    border:5px solid white;
    width: 100%;
    margin-bottom: 0px;
}